<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Transfer</title>

</head>
<body>

<div th:insert="~{/navbar :: topbar}"></div>

<div style="margin: 100px 15%;">

    <!-- Alert message  -->
    <div th:if="${successAddConnection}">
        <div class="alert alert-info">
            Congrats you have a new friend!
        </div>
    </div>

    <div th:if="${successTransfer}">
        <div class="alert alert-info">
            Congratulations your transfer works!
        </div>
    </div>

    <div th:if="${failedAddConnection}">
        <div class="alert alert-danger">
            <div th:text="${failedAddConnection}"></div>
        </div>
    </div>

    <div th:if="${transferFailed}">
        <div class="alert alert-danger">
            Oops something went wrong, please try again!
        </div>
    </div>

    <div th:if="${NotEnoughMoney}">
        <div class="alert alert-danger">
            You don't have enough money in your account, fill it up or change the amount of your transfer.
        </div>
    </div>


    <!-- Ajout connection -->
    <div class="open-btn bg-light clearfix">
        <h5 class="text-left">Send Money
            <button type="button" class="open-button btn btn-primary float-end" data-toggle="modal"
                    data-target="#exampleModal">
                Add Connection
            </button>
        </h5>
        <div th:text="'Account balance : ' + ${personBalance} + '€'">
        </div>
    </div>


    <!-- modal add friend-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add connection</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form-container" th:action="@{/transfer/add-friend}" method="POST">
                        <div class="mb-3">
                            <input type="email" class="form-control" name="friendEmail" id="friendEmail"
                                   placeholder="Add connection (Ex: mail@mail.com)" required>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Preparation de transfert + submit-->
    <div style="display: block;background-color: #eeeeee;padding:1em;">
        <form id="transferDTO" action="#" th:action="@{/transfer-request}" method="post" class="form-group"
              th:object="${transferDTO}">
            <div class="row mb-2">
                <div class="col-md-4">
                    <select th:field="*{creditorEmail}" class="form-select" required>
                        <option value="" selected hidden>Select a connection</option>
                        <option th:each="friend : ${connections}"
                                th:value="${friend.getEmail()}"
                                th:text="${friend.getFirstname() + ' ' + friend.getLastname() + ' (' + friend.getEmail() + ')'}">
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input th:field="*{amount}" type="number" min="1" class="form-control" placeholder="1" id="amount"
                           required>
                    <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="invalid-feedback"></div>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Description"
                           th:field="*{description}" id="description">
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmModal"
                            style="width: 100%;">Pay
                    </button>
                    <!--   <button confirm="" data-dialog="#confirmModal" data-confirmbtn="button.save" type="submit">Send</button> -->
                </div>
            </div>
        </form>
    </div>


    <!-- Modal confirmation transfer  -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" data-backdrop="static"
         data-keyboard="false" aria-labelledby="confirmModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirm Transfer</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    Do you confirm the payment?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="confirmPaymentButton">Confirm Payment</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Block sur charger sur compte et montant actuel -->
    <div class="row">
        <h5 class="text-left mt-5">Credit or debit your Pay my buddy account</h5>

        <form class="col" th:action="@{/transfer/credit-account}" method="POST">
            <input class="col" type="number" name="creditAmount" placeholder=" 0€" min="1" step=".01" id="creditAmount"
                   required>
            <button type="submit" class="btn btn-success col-mb-2" value="creditTransfer">
                Credit account
            </button>
        </form>

        <form class="col" th:action="@{/transfer/debit-account}" method="POST">
            <input class="col" type="number" name="debitAmount" placeholder=" 0€" min="1" step=".01" id="debitAmount"
                   required>
            <button type="submit" class="btn btn-danger col-mb-2" value="debitTransfer">
                Debit account
            </button>
        </form>

    </div>


    <!-- block sur historique de transfert -->
    <div class="mt-5">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered mt-2" id="transactionTable">
                <thead>
                <h5 class="text-left">My Transactions</h5>
                <tr class="bg-success text-white">
                    <th>Connection</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction: ${transactions}">
                    <td th:text="${transaction.getCreditor().getFirstname() + ' ' + transaction.getCreditor().getLastname()}"></td>
                    <td th:text="${transaction.getDescription()}"></td>
                    <td th:text="${transaction.getTransferAmount()+'€'}"></td>
                </tr>
                </tbody>
            </table>


            <!-- Pagination -->
            <nav aria-label="Pagination" th:if="${totalPages > 0}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a th:replace="fragments/paging :: paging(1, '<<', 'First Page')"></a>
                    </li>
                    <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
                    </li>
                    <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                        <a class="page-link" href="#">...</a>
                    </li>
                    <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                        th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                        <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
                    </li>
                    <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                        <a class="page-link" href="#">...</a>
                    </li>
                    <li class="page-item font-weight-bold"
                        th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a th:replace="fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
       $(document).ready(function() {
         $('#confirmModal').on('click', '#confirmPaymentButton', function() {
                $('#transferDTO').submit();
         });
       });

      function openForm() {
        document.getElementById("popupForm").style.display = "block";
      }

      function closeForm() {
        document.getElementById("popupForm").style.display = "none";
      }
</script>

</body>
</html>